<h2>Add a new trip</h2>

<%= form_for @trip do |f| %>

  <% if @trip.errors.any? %>
    <div class="error_messages">
    <h4>Please fix these errors:</h4>
      <ul>
        <% @trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.fields_for :stops do |ff| %>
      <div id="stops">
        <%= ff.label :location, "City" %><br/>
        <%= ff.text_field :location %>
        <%= render partial: 'form_field', locals: { :ff => ff } %>
      </div>
    <% end %>
  </div><br/>
  <div class="actions">
  </br>  <%= f.submit %>
  </div>
<% end %>
