<h2>Add a new trip</h2>

<%= form_for @trip, html: {id: "form-fields", :"data-fields"=> "1"} do |f| %>

  <% if @trip.errors.any? %>
    <div class="error_messages">
    <h4>Please fix these errors:</h4>
      <ul>
        <% @trip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  <div class="field inputs">
    <%= f.fields_for :stops do |ff| %>
      <div id="stops">
        <%= ff.label :location, "City" %><br/>
        <%= ff.text_field :location %>
      </div>
    <% end %>
  </div><br/>
  <div class="actions">
  </br>  <%= f.submit %>
  </div>
  <button id="add_field" type="button" class="btn btn-default btn-md" data-fields="1">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  
  </button>
  <button id="remove_field" type="button" class="btn btn-default btn-md" data-fields="1">
    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>  
  </button>
<% end %>
