<!DOCTYPE html>
<html>
<head>
  <title>RoadTripper</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <div id="user_nav">
    <% if current_user %>
      Logged in as <%= current_user.name %>
      <%= link_to "Profile", current_user %>
      <%= link_to "Log Out", session_path("current"), method: "delete" %>
    <% else %>
      <%= link_to "Register", new_user_path %> or
      <%= link_to "Log In", new_session_path %>
    <% end %>
  </div>



  <%= yield %>
</div>
  <div class="notice"><%= flash[:notice] %></div>

</body>
</html>
